<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 justify" style="text-align: justify;">
        <p>Soy asesora en accesibilidad web, desarrolladora web y periodista por vocación. Primero estudié periodismo, y por causas del destino empecé a sentir un enorme interés por el mundo de la programación y las páginas web, y terminé estudiando ingeniería informática. Por el momento, no he conocido a otra persona que incluya ambas profesiones, es más,  en mi vida laboral la frase que más he escuchado ha sido "¿y ese cambio?". Pero según mi punto de vista son dos ramas que se complementan. A través de la web queremos alcanzar un acceso universal de las personas a la información.</p>
        <p>Para mí,  la accesibilidad web es trabajar para las personas. Si tienes un proyecto web y quieres que sea accesible para todo el mundo, aquí estoy yo para ayudarte.</p>
        <p>Mi trabajo consiste en hacer una web atractiva y funcional, pero siguiendo los estándares de accesibilidad que marca el <acronym lang="en" title="World Wide Web Consortium">W3C</acronym>. Si estás pensando empezar un proyecto web nuevo es importante que incluyas desde el principio la accesibilidad, ya que será un proceso mucho más sencillo. Pero si ya tienes un proyecto en desarrollo, nunca es tarde para incluirla, es más diría que es algo necesario.</p>
    </div>
</div>

@section Header{
    <header class="intro-header" style="background-image: url('../../Content/img/comicItxasPeq1.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Sobre mí</h1>
                        <hr class="small">
                        <span class="subheading">¿Quién es Itxaso Sabino?</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
}